DEBUG_CDP_URL=http://127.0.0.1:9222
SECTION_KEYWORDS=敏哥和他的朋友们,生财有术
MAX_SCROLL_ROUNDS=10
SCROLL_WAIT_MS=2000
MAX_POSTS_PER_SECTION=50
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
OUTPUT_JSON_DIR=outputs
SQLITE_DB_PATH=data/zsxq.db
